<div class="row">
    <h2>Take, TakeLast & TakeUntil</h2> 
    <br>
    <hr>
    <p class="bg-light px-2 py-2 border rounded">
        Random Names : 'JoshuDi','Rahul','Pooja','Shubham','Ashish','Kunal','Vaishnu','Bhadu'
    </p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light px-2 py-2 border rounded">
                <strong>Take</strong> 
             </p>
             <br>
             <ul id="elContainer1">
             </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light px-2 py-2 border rounded">
                <strong>TakeLast</strong> 
             </p>
             <br>
             <ul id="elContainer2">
             </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light px-2 py-2 border rounded">
                <strong>TakeUntil</strong> 
             </p>
             <br>
             <ul id="elContainer3">
             </ul>
        </div>
    </div>

</div>