.container {
    text-align: center;
    padding: 5rem;

    h1 {
        font-size: 8rem;
        font-weight: bold;
        color: #008000;
        margin-bottom: 5rem;
    }
    h3 {
        font-size: 3rem;
        font-weight: bold;

    }
}