<div class="row">
    <div class="col-md-12">
        <ul class="list">

            <li routerLink="fromEvent"><a>From Event</a></li>

            <li routerLink="interval"><a>Interval</a></li>

            <li routerLink="of_from"><a>Of From</a></li>

            <li routerLink="toArray"><a>toArray()</a></li>

            <li routerLink="custom"><a>Custom</a></li>

            <li routerLink="map"><a>Map</a></li>

            <li routerLink="pluck"><a>Pluck</a></li>

            <li routerLink="filter"><a>Filter</a></li>

            <li routerLink="tap"><a>Tap</a></li>

            <li routerLink="take"><a>Take</a></li>

            <li routerLink="testing" id="testing"><a>Testing </a></li>
            <!-- <mat-card>Hei How are you? Hei How are you?</mat-card> -->
        </ul>
    </div>
</div>
