<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li routerLink="demo"><a>Demo</a></li>

            <li routerLink="products"><a>Products</a></li>

            <li routerLink="ngContent"><a>ngContent</a></li>

            <li routerLink="ngContainer"><a>ngContainer</a></li>

            <li routerLink="componentComm"><a>Component Comunications</a></li>

            <li routerLink="http"><a>Http & Observables</a></li>

            <li routerLink="subject"><a>Subject</a></li>

            <li routerLink="lifecycle"><a>Lifecycle Hooks</a></li>

            <li routerLink="viewchild"><a>ViewChild</a></li>

            <li routerLink="pipes"><a>Pipes</a></li>

            <li routerLink="forms"><a>Forms</a></li>
            <!-- <li routerLink="testing" id="testing"><a>Testing </a></li>  -->
            <!-- <mat-card>Hei How are you? Hei How are you?</mat-card> -->
        </ul>
        <hr>
        <h1>Practice Exercise</h1>
        <ul class="list">
            <li routerLink="exercise"><a>Exercise 1</a></li>
        </ul>
    </div>
</div>
