<div class="page-area">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              <h1 class="card-title">Practise Exercise</h1>
              <p class="card-text"> This exercise is to understand the concepts of 
                  <strong class="text-success">NgIf</strong>  | 
                  <strong class="text-danger">NgFor</strong> | 
                  <strong class="text-warning">Input</strong> | 
                  <strong class="text-info">Output</strong> | 
                  <strong class="text-secondary">Push</strong> | 
                  <strong class="text-primary">Splice</strong>
                  <br>
                  Please visit the stackbliz via below link to see the exercise code.
              </p>
              <a href="{{exerciseLink}}" class="btn btn-primary" target="_blank">Exercise Link</a>
              <button routerLink="/practice" class="btn btn-secondary">Back</button>
              <!-- <button class="btn btn-primary" href="{{exerciseLink}}" target="_blank">Exercise Link</button> -->
            </div>
        </div>
    </div>
</div>

