<p>ngcontent works!</p>
<div class="page-area">
    <div class="text-center">
        <h1>ng Content Practices</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis deserunt est libero 
            molestias natus facere laboriosam, ducimus nesciunt ea amet tempore dolores placeat, nostrum 
            aspernatur cumque asperiores maxime optio!
        </p>
    
    <hr>

    <div class="row">
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Laptop</h5>
                <a href="#" class="btn btn-success">Know More</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Television</h5>
                <a href="#" class="btn btn-success">Know More</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <a href="#" class="btn btn-success">Know More</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Washing Machine</h5>
                <a href="#" class="btn btn-success">Know More</a>
            </app-card>
        </div>
    </div>
</div>
</div>