<div class="row">
    <h2>Of & From</h2>
    <br>
    <strong>Ex - 01 (of)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light px-2 py-2 border rounded">
                <strong>Data : </strong> of ('Rahul', 'Shubham', 'Ashish')
            </p>
            <hr>
            <ul id="elcontainer"></ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light px-2 py-2 border rounded">
                <strong>Data : </strong> of (&#123;a: 'Rahul', b: 'Dnyaneshwar', c: 'Shiwarkar'&#125;)
            </p>
            <hr>
            <ul id="elcontainer">
                <li>a: {{obsFrom.a}} </li>
                <li>b: {{obsFrom.b}} </li>
                <li>c: {{obsFrom.c}} </li>
            </ul>
        </div>
    </div>

    <br>
    <strong>Ex - 02 (from)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <br>
            <p class="bg-light px-2 py-2 border rounded">
                <strong>Data : </strong> from (['Rahul', 'Shubham', 'Ashish'])
            </p>
            <hr>
            <ul id="elcontainerfromArr"></ul>
        </div>
        <div class="col-md-4">
            <strong>Promise</strong>
            <br>
            <p class="bg-light px-2 py-2 border rounded">
                <strong>Data : </strong> Promise to Observable
            </p>
            <hr>
            <ul id="elcontainerPromise"></ul>
        </div>
        <div class="col-md-4">
            <strong>String</strong>
            <br>
            <p class="bg-light px-2 py-2 border rounded">
                <strong>Data : </strong> String to Observable
            </p>
            <hr>
            <ul id="elcontainerString"></ul>
        </div>
    </div>
</div>
