<div class="page-area">
    <div class="text-center">
        <h2>Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat minus placeat blanditiis magnam? Amet repellat ad, quasi atque laudantium minus alias tempora quis enim. Amet impedit assumenda fuga blanditiis.</p>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="../../../assets/images/laptop.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary"> <Strong>Laptop</Strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="common" class="btn btn-primary" (click)="knowmore('laptop')">Know More</a>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary"><Strong>Television</Strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="common" class="btn btn-primary" (click)="knowmore('tv')">Know More</a>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/mobile.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary"><Strong>Mobile</Strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="common" class="btn btn-primary" (click)="knowmore('mobile')">Know More</a>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/washing_machine.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary"><Strong>Washing Machine</Strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="common" class="btn btn-primary" (click)="knowmore('washingmachine')">Know More</a>
                </div>
            </div>
        </div>
        <!-- <div class="com-md-6">
            <router-outlet></router-outlet>
        </div>
    </div> -->
</div>