
<div class="page-area">
    <h1>{{ productlabel }}</h1>
    <div class="row align-middle">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus officia aspernatur facilis et quaerat! Nihil fugiat, adipisci aut consectetur quibusdam officiis excepturi deleniti similique dolor officia dolorum saepe eos sit!</p>
            <button class="btn btn-primary">
                <a href="{{producturl}}" target="_blank">Buy Now</a>
            </button>
            <button routerLink="/practice/products" type="button" class="btn btn-secondary">Back</button>
        </div>
        <div class="col-md-6">
            <img src="{{this.productImage}}" alt="" class="rounded w-15">
        </div>
    </div>
</div>