<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Observables & Promises</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ml-3">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="promise">Promises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="observable">Observables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="practice">Practice</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" routerLinkActive="active" routerLink="notfound">PageNotFound</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>